/**
 *  _vars.scss
 *
 *
 */

@import './mixins.scss';

$white:      #ffffff;
$black:      #000000;

$dkLavender: #6C5A97;
$orange:     #FF5700;
$pink:       #ad0062;
$gold:       #fcc201;
$aqua:       #7adfb5;

$font-family-sans: 'Abel', Helvetica, Arial, sans-serif;
