/**
 *  detail.scss
 *
 *
 */

@import './vars.scss';

.detail__title {
  margin: 0 0 0.8rem 0;
  font-size: 20px;
  line-height: 1.1;
  color: $orange;
  a {
    color: $orange;
    &:hover {
      color: $orange;
    }
  }
}
.detail__item {
  dt {
    font-size: 0.8rem;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
  }
  dd {
    margin-left: 0;
    color: $white;
    line-height: 1.2;
  }
}
.detail__item--image {
  height: 200px + 20px;
}