/**
 *  index.scss
 *
 *
 */

@import './vars.scss';

html {
  width: 100%;
  height: 100%;
}
body {
  background-color: $black;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family-sans;
  color: $orange;
}
.p--foot {
  margin-top: 2.0rem;
}
.p--smaller {
  font-size: 10px;
}
#graph_timeline {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
