/**
 *  status.scss
 *
 *
 */

@import './vars.scss';

.status {
  position: absolute;
  z-index: 2;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
.status--1 {
  left: 15px;
  top: 0;
}
.status--2 {
  left: 50%;
  top: 0;
}
.status--3 {
  left: 15px;
  top: 10%;
}
.status--4 {
  left: 50%;
  top: 10%;
  margin-top: 0;
}
.status--5 {
  left: 50%;
  top: 10%;
  margin-top: 15px;
}
.status--6 {
  left: 50%;
  margin-top: 30px;
  top: 10%;
}
.status--7 {
  left: 15px;
  top: 20%;
}
.status--8 {
  left: 50%;
  top: 20%;
}