<div class="alt-content">
  <section>
    <div class="alt-content__inner">
      {% for item in items %}
        <div class="alt-content__item">
          <h3><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h3>
          <dl>
            <dt>Date</dt>
            <dd>{{ item.cleanDate }}</dd>
            <dt>Medium</dt>
            <dd>{{ item.medium }}</dd>
            <dt>Participants</dt>
            <dd>{{ item.participantsJoined }}</dd>
            <dt>Country</dt>
            <dd>{{ item.country_name }}</dd>
          </dl>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
