<div class="panel panel--right hidden" id="detail-template-wrapper">
</div>
<script type="text/template" id="detail-template">
  <div class="panel__bg"></div>
  <div class="panel__inner">
    <div class="detail__item detail__item--image">
      <img src="" alt="" />
    </div>
    <h4 class="detail__title">
      <a target="_blank"></a>
    </h4>
    <dl class="detail__item detail__item--participant">
      <dt>Participants</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--year">
      <dt>Year</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--country">
      <dt>Country</dt>
      <dd></dd>
    </dl>
    <dl class="detail__item detail__item--medium">
      <dt>Medium</dt>
      <dd></dd>
    </dl>
  </div>
  <button class="button button--close">
    <span class="button__icon button__icon--close">×</span>
    <span class="button__label button__label--close">Close</span>
  </button>
</script>
